// /backend/jobs.config
{
  "jobs": [
    {
      "functionLocation": "/module/filename.funcName",
      "description": "",
      "executionConfig": {
        "time": String, // mandatory, “hh:mm” format
        "dayOfWeek": String, // Optional: 
                             // Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
        "dateInMonth": Number // Optional: number between 1-31
      }
    },
    {
      // More jobs to be added here...
    }
  ]
}
